<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='log.css')}}">
    <title>Document</title>
    {% block head %}{% endblock %}
</head>
<body>
    <div id="content">
        <div id="forms-container">
            <form id="signup-form" class="active-form" method="POST" action="{{ url_for('routes.signup') }}">
                <h1>Signup</h1>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Sign-Up</button>
                <a href="login.html"><button class="switch" type="button">Have an account</button></a>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    {% block body %}{% endblock %}
</body>
</html>